@import '../../node_modules/normalize.css/normalize';
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/scss/variables';


@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Roboto&display=swap');
@import 'oldstyle';
@import '../css/nav';
@import 'report';

.site-footer a {
    text-decoration: none;
    transition: 0.5s;
}

.title h1 {
    margin: 0.1em;
}

.color-palette {
    display: flex;
    justify-content: center;
}

.logo-img {
    width: 180px;
    margin-bottom: 1.5em;
    border-radius: 50px;
}
