@import 'common';
@import 'variables-dark';

* {
    font-family: 'Poiret One', cursive;
}

p {
    color: $text-color;
}

body {
    background-color: $background-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poiret One', cursive;
    color: $text-color;

}

.flash-img {
    filter: grayscale(60%);
}
