@import 'common';
@import 'variables';
@import 'portfolio';
@import 'kommandespelningar';
@import 'indexpage';
@import 'header';
@import 'footer';

* {
    font-family: 'Poiret One', cursive;
}

html {
    scroll-behavior: smooth;
}

p {
    color: $text-color;
    font-size: 20px;
    font-style: normal;
}

body {
    background-image: url('../../../assets/img/background-image.jpg?w=10');
    background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poiret One', cursive;
    color: $text-color;
}

.main {
    height: max-content;
}

.container,
.highlights,
.about {
    margin: 20% 10% 0%;
}

.container a {
    color: $text-color;
    text-align: center;
}

.about {
    background-color: $highlights-bg-color-opacity;
    display: grid;
    gap: 1px;
    grid-template-columns: 1fr 1fr;
}

.about-title {
    grid-column: 1/3;
}

.about h1 {
    border-bottom: 2px dotted $text-color;
}

.about-text {
    margin: 1em;
}

.about-image {
    margin: 1em;
}

.about-image img {
    width: 100%;
}

.documentation-link {
    color: $text-color;
    align-self: center;
}

.documentation {
    padding: 5% 15%;
    background-color: $highlights-bg-color-opacity;
}

.color-palette {
    margin: 1% 40% 1% 40%;
}


@media (max-width: 767px) {
    body {
        background-size: contain;
    }

    .about-text {
        grid-column: span 2;
    }

    .about-image {
        grid-column: span 2;
    }
}
