// basic styling
$background-color: #f8f8f6;
$text-color: #f8f8f6;
$link-color: #f8f8f6;

//Style for header
$titlecolor: #132b3a;
$nav-a-color: #eac92a;
$nav-a-hover: #c586d4;

// Style for Footer
$footer-background-color: #000;
$footer-color: #fe9ccd;
$site-footer-a-hover: #c586d4;


// Style for highlights
$highlights-bg-color: #c586d4;
$highlights-bg-color-opacity: rgba(197, 134, 212, 0.8);
